
<div class="our-story-page">
  <div class="page-width story-first-section">
  	<div class="grid grid--uniform p-relative">
    	<div class="grid__item small--one-whole medium-up--one-half">
        	<div class="story-first-left">
        		<div class="medium-up--one-tenth medium-up--eight-tenths">
          		<h3>Sip Consciously</h3>
          		<p>Who says being healthy can’t be fun? We deliver delicious varieties of wellness teas to your door so you can discover your new favorite drinks that help you take care of your mind and body. We’re committed to bringing you the science of wellness to empower you to sip more healthily and happily.</p>
          	</div>
        	</div>
      </div>
    	<div class="grid__item small--one-whole medium-up--one-half story-first-right-image">
  	   {{ 'our-story-collage_2x.png' | asset_url | img_tag: 'story-collage' }}
    	</div>
  	</div>
  </div>
 	<div class="grid grid--uniform story-curate-block" style="position: relative;">
    {{ 'side_flowers_6_our_story.png' | asset_url | img_tag: 'side-flowers', 'story-right-side' }}
    <div class="page-width">
    	<div class="grid__item small--one-whole medium-up--one-half small--hide">
      	{{ 'our-story-bags1_2x.png' | asset_url | img_tag: 'our-story-bag' }}
      </div>
      <div class="grid__item small--one-whole medium-up--one-half mt-md-100p mt-sm-50p p-relative">
        <div class="story-second-right page-width">
          <div class="small--one-whole medium-up--eleven-twelfths">
            <h3>We curate, <br> so you don't have to</h3>
            <p style="margin-bottom: 50px;">Drinking healthily shouldn’t require the hard work of buying bulk packs and detailed research. We curate our collections to include high quality teas that make your sipping experience exciting with flavors you’ll love and contribute to your wellness with the nutrients you need. We do the hard work; all you need to do is kick back and take a sip.</p>
          	{{ 'our-story-logos_2x.jpg' | asset_url | img_tag: 'story-logos' }}
          </div>
      	</div>
      </div>
    </div>
  </div>
	<div class="grid mt-sm-50p" style="position: relative;">
		{{ 'side_flowers_9_product.png' | asset_url | img_tag: 'side-flowers', 'story-right-side' }}
		{{ 'side_flowers_10_product.png' | asset_url | img_tag: 'side-flowers', 'story-left-side' }}
    <div class="page-width story-third-block" style="position:relative;">
  		<div class="story-third-second">
        	<div class="grid__item small--one-whole medium-up--two-quarters">
        		{{ 'host.png' | asset_url | img_tag: 'host' }}
            	<div class="story-meet-our-team">Meet Our Team</div>
            	<p class="story-meet-content">Phoebe was once a confused tea consumer, roaming the tea aisle of her local grocery
              store, overwhelmed with options and lengthy ingredient lists. Amidst her half-finished
              bulk packs and many Google searches for “healthy herbal teas,” Phoebe decided
              enough was enough. She started Sippingly to save others the time-consuming process
              of researching healthy solutions to help them achieve holistic wellness. Through the
              specially curated tea collections at Sippingly, Phoebe is hoping to share her knowledge
              and encourage others to sip happily, healthily, and purposefully.</p>
           	<a href="/products/night-time-herbal-tea-box" class="custom_btn shop_now_btn">
              Let’s Sip Together
            </a>
      		</div>
      	</div>
  		<div class="grid__item small--one-whole medium-up--one-quarter">
        	</div>
  	</div>
  </div>
</div>
